* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

.header_nav {
    background-color: #bbb;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header_nav_links {
    padding: 0 10px 0 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.sub_nav {
    background-color: #eee;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}


/* projects div design prototype */
/* h1 {
    color: white;
}

h1:hover {
    color: red;
    cursor: not-allowed;
    animation: extand 1.5s forwards;
} */

.project_div {
    height: 100vh;
}

/* footer design */
footer {
    background-color: #fff;
    text-align: center;
}


/* keyframes */

/* @keyframes extand {
    0% {
        transform: scale(1);
        letter-spacing: 0;
    }
    100% {
        transform: scale(1.2);
        letter-spacing: 5px;
    }
} */
